<!-- 
    21/01/2020
    Ashish Birari
    Akshay Dand

    reference => https://bootsnipp.com/tags/login
 -->

 <div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Login Form -->
        <form action="" method="POST">
            <input type="text" id="user_id" class="fadeIn second" name="register" placeholder="user_id">
            <input type="text" id="user_name" class="fadeIn third" name="register" placeholder="user_name">
            <input type="password" id="password" class="fadeIn fourth" name="register" placeholder="password">
            <input type="number" id="phone" class="fadeIn fifth" name="register" placeholder="phone number">
            <input type="text" id="address" class="fadeIn sixth" name="register" placeholder="address">
            <input type="text" id="city" class="fadeIn seventh" name="register" placeholder="city">
            <input type="email" id="email_id" class="fadeIn eight" name="register" placeholder="email_id">

            <input type="submit" class="fadeIn ninth" value="sign-up">
        </form>

        <!-- If new user? then register first -->
        <div id="formFooter">
            <a class="underlineHover"><a routerLink="/login">login</a></a>
        </div>

    </div>