<!-- 
    21/01/2020
    Ashish Birari
    Akshay Dand

    reference => https://bootsnipp.com/tags/login
 -->

<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Login Form -->
        <form action="" method="post">
            <input type="text" id="user_id" class="fadeIn second" name="login" placeholder="user_id">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="log-in">
        </form>

        <!-- If new user? then register first -->
        <div id="formFooter">
            <a class="underlineHover">New user?<a routerLink="/signup">sign-up</a></a>
        </div>

    </div>